footer
	background-color #020202
	padding 120px 10px 120px 10px
	margin auto
	text-align center
	color white
	h2
		margin-bottom 15px
	.social
		margin-bottom 20px
		a
			margin 0 7px
			font-size 36px
			text-decoration none
	.pivacy
		margin-bottom 15px
	.cright
		margin-bottom 15px
		font-size 2.08rem
		