@media screen and (min-width: 0px)
	div#slider
		margin-top 75px
		transition height 0.3s ease-in-out, margin 0.3s ease-in-out
		-webkit-transition height 0.3s ease-in-out, margin 0.3s ease-in-out
		-moz-transition height 0.3s ease-in-out, margin 0.3s ease-in-out
		-o-transition height 0.3s ease-in-out, margin 0.3s ease-in-out
	header
		position fixed
		left 0
		right 0
		border-top 5px solid #212121
		background-color white
		z-index 99
		top 0
		height 75px
		transition height 0.3s ease-in-out, background-color 0.3s ease-in-out
		-webkit-transition height 0.3s ease-in-out, background-color 0.3s ease-in-out
		-moz-transition height 0.3s ease-in-out, background-color 0.3s ease-in-out
		-o-transition height 0.3s ease-in-out, background-color 0.3s ease-in-out
		nav
			padding 2px 0
		.logo
			text-align center
			position relative
			.hamburger
				display block
				background-color #212121
				transition background-color 0.3s ease-in-out
				-webkit-transition background-color 0.3s ease-in-out
				-moz-transition background-color 0.3s ease-in-out
				-o-transition background-color 0.3s ease-in-out
				width 24px
				height 18px
				position absolute
				top 25px
				left 25px
				.burgers
					position absolute
					border-top 3px solid white
					border-bottom 3px solid white
					border-color white
					top 4px
					left 0
					right 0
					width 24px
					height 4px
					transition border-color 0.3s ease-in-out
					-webkit-transition border-color 0.3s ease-in-out
					-moz-transition border-color 0.3s ease-in-out
					-o-transition border-color 0.3s ease-in-out
			img 
				max-height: 66px
		.menuMobile
			display none
			background-color white
			transition background-color 0.3s ease-in-out
			-webkit-transition background-color 0.3s ease-in-out
			-moz-transition background-color 0.3s ease-in-out
			-o-transition background-color 0.3s ease-in-out
			text-align center
			&.opened
				display block
			ul
				position relative
				padding-bottom 10px
				li
					a
						font-size 1.4rem
						color #999
						text-decoration none
						line-height 3rem
						transition color 0.3s ease-in-out
						-webkit-transition color 0.3s ease-in-out
						-moz-transition color 0.3s ease-in-out
						-o-transition color 0.3s ease-in-out
					:hover
						color #212121
						transition color 0.3s ease-in-out
						-webkit-transition color 0.3s ease-in-out
						-moz-transition color 0.3s ease-in-out
						-o-transition color 0.3s ease-in-out
					&.dropdown
						> a::after
							content ">"
							font-size 1.2rem
							margin-left 5px
						> ul
							display none
							position absolute
							background-color white
							height 100%
							top 0
							left 0
							right 0
							text-align center
							z-index 2
							&.show
								display block
								a.back::before
									content "<"
									font-size 1.2rem
									margin-right 5px
		.menu
			display none
			text-align center
			padding 5px 0
			ul
				li
					padding 0 17px
					list-style none
					display inline-flex
					a
						text-decoration none
						font-size 1.7rem
						color #999
						transition color 0.3s ease-in-out
						-webkit-transition color 0.3s ease-in-out
						-moz-transition color 0.3s ease-in-out
						-o-transition color 0.3s ease-in-out
				li.dropdown
					position relative
					> ul
						display none
						position absolute
						top 0
						text-align left
						left -5px
						transition top 0.3s ease-in-out
						-webkit-transition top 0.3s ease-in-out
						-moz-transition top 0.3s ease-in-out
						-o-transition top 0.3s ease-in-out
						a
							background-color #5d5d5d
							padding 10px 20px
							font-size 1.2rem
							color white
							width 200px
							&:hover
								background-color #99cc00
					&.right
						> ul
							left auto
							right -5px
				li.dropdown:hover
					> ul
						display block
						top 100%
		&:after
			content ""
			display table
			clear both
	body.inverse
		header
			background-color #212121
			.logo
				.hamburger
					background-color white
					.burgers
						border-top 3px solid #212121
						border-bottom 3px solid #212121
						border-color #212121
			.menu
				ul
					li
						a
							color white
			.menuMobile
				background-color #212121
				ul
					li
						a
							color white
						:hover
							color #999
@media screen and (min-width: 768px)
	div#slider
		margin-top 120px
	header
		border-top 5px solid #212121
		height 120px
		nav
			padding 5px 0
			transition padding 0.3s ease-in-out
			-webkit-transition padding 0.3s ease-in-out
			-moz-transition padding 0.3s ease-in-out
			-o-transition padding 0.3s ease-in-out
		.logo
			text-align center
			.hamburger
				display none
			img
				max-height: 119px
				transition max-height 0.3s ease-in-out
				-webkit-transition max-height 0.3s ease-in-out
				-moz-transition max-height 0.3s ease-in-out
				-o-transition max-height 0.3s ease-in-out
		.menuMobile
			display none !important
			&.opened
				display none
		.menu
			display block
			text-align center
			padding 2px 0
			transition padding 0.3s ease-in-out
			-webkit-transition padding 0.3s ease-in-out
			-moz-transition padding 0.3s ease-in-out
			-o-transition padding 0.3s ease-in-out
			ul
				li
					padding 0 17px
					list-style none
					display inline-flex
					a
						text-decoration none
						font-size 1.7rem
		&:after
			content ""
			display table
			clear both
	body.inverse
		div#slider
			margin-top 96px
		header
			height 96px
			nav
				padding 0px 0
			.logo
				img 
					max-height: 66px
					transition max-height 0.3s ease-in-out
					-webkit-transition max-height 0.3s ease-in-out
					-moz-transition max-height 0.3s ease-in-out
					-o-transition max-height 0.3s ease-in-out
			.menu
				padding 0px 0
@media screen and (min-width: 1057px)
	header
		nav
			padding 20px 0
		.logo
			float left
			padding-left 50px
		.menuMobile
			display none !important
		.menu
			display block
			float right
			padding 30px 50px 0 0
			ul
				li
					padding 0 17px
					list-style none
					float left
					a
						text-decoration none
						font-size 1.7rem
	body.inverse
		div#slider
			margin-top 70px
		header
			height 70px
			nav
				padding 0px 0
			.logo
				img 
					max-height: 66px
			.menu
				padding 22px 50px 0 0