*
	padding 0
	margin 0
a
	color #99cc00
.btn
	color white
	background #99cc00
	border 3px solid #fff
	-webkit-transition all 0.15s ease-in-out
	-moz-transition all 0.15s ease-in-out
	-o-transition all 0.15s ease-in-out
	transition all 0.15s ease-in-out
	padding 13px 20px
	font-weight bold
	text-decoration none
	font-size 1.6rem
	line-height 8rem
	&:hover
		color #99cc00
		background white
.container
	max-width 1200px
	margin 0 auto
.row
	margin 0 auto
	.col
		float left
		-webkit-box-sizing border-box
		box-sizing border-box
		padding 0 0rem
		min-height 1px
		&.l6
			width 50%
			margin-left auto
			left auto
			right auto
	&:after
		content ""
		display table
		clear both