section#vacancy
	background-image url(../images/vacancy.jpg)
	background-repeat no-repeat
	background-attachment fixed
	background-position center
	background-size cover
	text-align center
	padding 180px 0
	color white
	font-size 2.1rem
	h3
		font-size 3rem
		margin-bottom 20px
	.p
		font-weight bold
		margin-bottom 20px

