section#whoWeAre
	background-image url(../images/whoWeAre.jpg)
	background-repeat no-repeat
	// background-attachment fixed
	background-position center
	background-size cover
	text-align center
	padding 104px 0
	color white
	.welcome img
		width 100%
		max-width 400px
		margin 0 7px
	.fire img
		width 100%
		max-width 272px
		margin 0 7px
	.description
		font-size 2.1rem
