.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot{
    position: absolute;
    top: calc( 50% - 25px);

    overflow: hidden;
    cursor: pointer;

    padding: 0 14px !important;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;

    background: rgba(25,25,25,0.5);
    border-radius: 2px;
    outline-style:none;
}
.owl-carousel .owl-nav button.owl-next{
    right: 10px;
}
.owl-carousel .owl-nav button.owl-next:after{
    content: '';
    position: absolute;
    left: 13px;
    bottom: 5px;
    border: 7px solid transparent;
    border-left: 7px solid white;
}
.owl-carousel .owl-nav button.owl-prev{
    left: 10px;
}
.owl-carousel .owl-nav button.owl-prev:after{
	content: '';
	position: absolute;
	right: 13px; 
	bottom: 5px;
	border: 7px solid transparent;
	border-right: 7px solid white;
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-theme .owl-nav{
    margin-top: 0px;
}